{__NOLAYOUT__}
<layout name="Pub/layout2" />
	<!-- 页面头部 end -->
<script>
	function checkName(){
	    var username = $('[name=username]').val();
	    $.ajax({
			url:'/index.php/Home/User/checkNames',
			data:{'username':username},
			dataType:'json',
			type:'post',
			success:function(msg){
//			    console.log(msg);
			    if(msg.status==0){
                    $('#userins').empty().css({'color':'red'}).text(msg.infos);
				}else{
                    $('#userins').empty().css({'color':'green'}).text(msg.infos);
				}

			}
		});
	}
	function send(){
		//获取手机号码
		var tel = $('[name="user_tel"]').val();
		$.ajax({
			url:'/index.php/Home/User/sendCont',
			data:{'tel':tel},
			dataType:'json',
			success:function(msg){
				if(msg.status===0){
					$('#sendresult').html('短信发送成功……');
				}else{
					$('#sendresult').html('短信发送失败！');
				}
			}
		});
	}
</script>
	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10 regist">
		<div class="login_hd">
			<h2>用户注册</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="" method="post">
					<ul>
						<li>
							<label for="">用户名：</label>
							<input type="text" class="txt" name="username" onblur="checkName()" onfocus="$('#userins').empty();"/> <span style="color:red" id="userins">{$errorinfo['username']|default=''}</span>
							<p>3-20位字符，可由中文、字母、数字和下划线组成</p>
						</li>
						<li>
							<label for="">密码：</label>
							<input type="password" class="txt" name="password" /> <span style="color:red">{$errorinfo['password']|default=''}</span>
							<p>6-20位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
						</li>
						<li>
							<label for="">确认密码：</label>
							<input type="password" class="txt" name="password2" /> <span style="color:red">{$errorinfo['password2']|default=''}</span>
							<p> <span>请再次输入密码</p>
						</li>
						<li>
							<label for="">邮箱：</label>
							<input type="text" class="txt" name="user_email" />
						</li>
						<li>
							<label for="">手机号码：</label>
							<input type="text" class="txt" name="user_tel" style="width:150px;" />
							<span><input type="button" name="btn" value="免费获取验证码" onclick="send()"><span id="sendresult"></span></span>
						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text"  name="checkcode" onblur="checkCode()"/>

							<span style="color:red">{$infoerror|default=''}</span>
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="checkbox" class="chb" checked="checked" /> 我已阅读并同意《用户注册协议》
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>


			</div>

			<div class="mobile fl">
				<h3>手机快速注册</h3>
				<p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
				<p><strong>1069099988</strong></p>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->

	<div style="clear:both;"></div>