{__NOLAYOUT__}
<layout name="Pub/layout2" />
<link rel="stylesheet" href="{:C('CSS_URL')}cart.css" type="text/css">
<script>
	//给购物车商品数量增加增减修改的操作
	function modify_number(flag,goods_id){
	    //获得当前的商品数量
		var num = $('#goods_number_'+goods_id).val();
		if(flag == 'red'){
		    if(num==1){
		        alert('单间商品的购买数量不能少于一个，或直接删除');
		        return false;
			}
			num--;
		}else if(flag=='mod'){
		    //修改的数量就是1-20之间的数字
			var reg = /^([1-9]|1\d|20)$/;//严格匹配1-20直接的数字

			if(num.match(reg)===null){
			    alert('修改的数量参数不合法，要求是1-20之间的数字');
			    window.location.href=window.location.href;//页面刷新
				return false;
			}
		}else if(flag=='add'){
		    num++;
		}else{
		    alert('参数不合法');
		    return false;
		}
		$.ajax({
			url:'/index.php/Home/Shop/changeNumber',
			data:{'goods_id':goods_id,'num':num},
			type:'post',
			dataType:'json',
			success:function(msg){
				$('#goods_number_'+goods_id).val(num);
				$('#goods_xiaoji_'+goods_id).html(msg.xiaoji_price);
				$('#total').html(msg.total_price);
			}
		})

	}
	function del_goods(goods_id){
		$.ajax({
			url:'/index.php/Home/Shop/delGoods',
			data:{'goods_id':goods_id},
			dataType:'json',
			success:function(msg){
			    //删除tr元素
			    $('#goods_xiaoji_'+goods_id).parent().parent().remove();
			    //更新购物车商品总金额
				$('#total').html(msg.price);
			}
		})
	}
</script>
	<div style="clear:both;"></div>
	<!-- 主体部分 start -->
	<div class="mycart w990 mt10 bc">
		<h2><span>我的购物车</span></h2>
		<table>
			<thead>
				<tr>
					<th class="col1">商品名称</th>
					<!--<th class="col2">商品信息</th>-->
					<th class="col3">单价</th>
					<th class="col4">数量</th>	
					<th class="col5">小计</th>
					<th class="col6">操作</th>
				</tr>
			</thead>
			<tbody>
			<foreach name="cartinfo" item="v">
				<tr>
					<td class="col1"><a href=""><img src="{$v.logo|substr=###,1}" alt="" /></a>  <strong><a href="">{$v.goods_name}</a></strong></td>
					<!--<td class="col2"> <p>颜色：073深红</p> <p>尺码：170/92A/S</p> </td>-->
					<td class="col3">￥<span>{$v.goods_price}</span></td>
					<td class="col4"> 
						<a href="javascript:;" class="reduce_num" onclick="modify_number('red',{$v.goods_id})"></a>
						<input type="text" name="amount" class="amount" value="{$v.goods_buy_number}" id="goods_number_{$v.goods_id}" onchange="modify_number('mod',{$v.goods_id})"/>
						<a href="javascript:;" class="add_num" onclick="modify_number('add',{$v.goods_id})"></a>
					</td>
					<td class="col5">￥<span id="goods_xiaoji_{$v.goods_id}">{$v.goods_total_price}</span></td>
					<td class="col6"><a href="javascript:if(confirm('确认要删除该商品吗？')){del_goods({$v.goods_id})}">删除</a></td>
				</tr>
			</foreach>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">购物金额总计： <strong>￥ <span id="total">{$number_price['price']}</span></strong></td>
				</tr>
			</tfoot>
		</table>
		<div class="cart_btn w990 bc mt10">
			<a href="" class="continue">继续购物</a>
			<a href="{:U('flow2')}" class="checkout">结 算</a>
		</div>
	</div>
	<!-- 主体部分 end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
